<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AutoCrop.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FB087F541EFB734A00D612EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FB087F6A1EFB734B00D612EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FB087F751EFB734B00D612EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
